$pastel_naranja: #FFDA96;
$azul_off: #3686F1;
$rojo: #8e0e02;
$amarillo: #828705;
$verde: #0d3a0c;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin jumbofooter($mtop, $mbotto, $back, $ptop, $pright, $pbottom, $pleft){
	margin-top: $mtop;
	margin-bottom: $mbotto;
	background-color: $back;
	padding-top: $ptop;
	padding-right: $pright;
	padding-bottom: $pbottom;
	padding-left: $pleft;
}

.jumbotron{
	color: $azul_off;
	border: 2px solid $azul_off;
	border-radius: 0px 0px 5px 5px;
	@include jumbofooter(56px, 18px, $pastel_naranja, 50px, 1px, 50px, 1px);
}

footer {
	border: 2px solid $azul_off;
	border-radius: 5px 5px 0px 0px;
	@include jumbofooter(10px, 0px, $pastel_naranja, 10px, 0px, 10px, 0px);
}

.card-hotel {
	flex:1 200px;
	@include margenes(10px,0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.linkSocial a{
	color: $verde;
}

.dirOficina {
	color: $rojo;
}

.masInfo a{
	color: $amarillo;
}