.jumbotron {
  color: #3686F1;
  border: 2px solid #3686F1;
  border-radius: 0px 0px 5px 5px;
  margin-top: 56px;
  margin-bottom: 18px;
  background-color: #FFDA96;
  padding-top: 50px;
  padding-right: 1px;
  padding-bottom: 50px;
  padding-left: 1px;
}
footer {
  border: 2px solid #3686F1;
  border-radius: 5px 5px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #FFDA96;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.linkSocial a {
  color: #0d3a0c;
}
.dirOficina {
  color: #8e0e02;
}
.masInfo a {
  color: #828705;
}
